// GLOBAL

* {
  font-family: sans-serif, monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

// CUSTOM VARIABLES

$color-primary: #8c533d;
$color-secondary: #cc9972;
$color-accent: #dfcbb2;
$color-white: #fff;
$font: sans-serif, monospace;
$box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);

// MAIN GLOBAL

html {
  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $color-accent;
  }
}

body {
  background: $color-white;
  background: url("") repeat;
  background-size: 100%;
}

.section {
  padding: 100px 20px;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.container {
  max-width: 1140px;
  margin: auto;
}

::before,
::after {
  box-sizing: border-box;
}

p,
.btn-default {
  font-family: $font;
}

::selection {
  color: $color-accent;
  background: $color-secondary;
}

.title-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: $color-primary;
  font-size: 45px;
  font-weight: 700;
  font-family: $font;

  .subtitle {
    color: $color-secondary;
  }

  &.style-2 {
    color: $color-secondary;

    .subtitle {
      color: $color-accent;
    }
  }
}

.btn-default {
  position: relative;
  padding: 10px 25px;
  width: fit-content;
  overflow: hidden;
  transition: color 500ms ease-in-out;
  z-index: 1;
  font-size: 20px;
  border-radius: 25px;
  font-weight: 700;

  &.style-2 {
    border: 1px solid $color-secondary;
    color: $color-secondary;

    &::before {
      background: $color-secondary;
    }

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-secondary;

      &::before {
        background: $color-primary;
      }
    }
  }

  &.style-2 {
    border: 1px solid $color-primary;
    color: $color-primary;

    &::before {
      background: $color-primary;
    }

    &:hover {
      color: $color-secondary;
    }

    &:active {
      color: $color-primary;

      &::before {
        background: $color-secondary;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 300px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 700ms ease-in;
  }

  &:hover {
    &::before {
      top: -30px;
      left: -30px;
    }
  }
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 40px;
}

// MAIN

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px;
  transition: all 500ms ease;

  &.sticky {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: $box-shadow;
    backdrop-filter: blur(20px);
  }

  .header__title {
    color: $color-primary;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 20px;
  }

  .nav-items {
    position: relative;
    display: flex;

    li {
      a {
        position: relative;
        color: $color-secondary;
        font-family: $font;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 500;
        margin: 0px 15px;
        transition: all 300ms ease-in-out;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: $color-accent;
          transform: scale(0);
          left: 0;
          bottom: 0;
          transform-origin: bottom right;
          transition: transform 250ms ease-in-out;
        }

        &:hover {
          color: $color-accent;

          &::after {
            transform: scale(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}

.home-section {
  background: url("");
  background-size: cover;
  display: flex;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .title-text {
      font-size: 56px;
      line-height: 60px;
      font-weight: 700;
      color: $color-secondary;
    }

    p {
      font-size: 20px;
      font-family: $font;
      color: $color-accent;
      font-weight: 600;
      margin: 0px 0px 50px;
    }
  }
}

.about-section {
  .container {
    .about-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .row {
        width: 48%;
        height: 100%;
      }

      .img-box {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text-box {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 45px;
          font-weight: 700;
          color: $color-primary;
          margin-bottom: 10px;
        }

        p {
          font-size: 18px;
          color: $color-secondary;
          font-family: $font;
          margin-bottom: 20px;
        }
      }
    }
    .title-text {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      width: 100%;
      color: $color-primary;
      font-size: 35px;
      font-weight: 700;
    }
    .address-content {
      @include grid(300px);
      margin-top: 50px;
      justify-content: center;
      justify-items: center;
      gap: 80px;

      .address-box {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header__title {
          .title {
            display: flex;
            align-items: center;
            h2 {
              font-size: 22px;
              font-family: $font;
              color: $color-primary;
            }

            h3 {
              margin-left: 20px;
              font-size: 15px;
              font-weight: 700;
              font-family: $font;
              color: $color-accent;
              background: $color-primary;
              border-radius: 20px;
              padding: 4px 12px;
            }
          }
          span {
            margin-top: 50px;
            font-size: 15px;
            color: $color-secondary;
          }
        }
        .btn-visit {
          width: fit-content;
          .visit {
            font-size: 15px;
            color: $color-primary;
            position: relative;
            transition: all 300ms ease-in-out;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background: $color-primary;
              transform: scale(0);
              left: 0;
              bottom: 0;
              transform-origin: bottom right;
              transition: transform 250ms ease-in-out;
            }

            &:hover {
              color: $color-primary;

              &::after {
                transform: scale(1);
                transform-origin: bottom left;
              }
            }
          }
        }
      }
    }
    .contact {
      position: relative;
      margin-top: 50px;
      padding: 40px 0;
      background-image: url("");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      border-radius: 40px;
      overflow: hidden;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: -1;
      }
      .container {
        .contact-container {
          @include grid(300px);
          justify-content: center;
          justify-items: center;
          .contact-item {
            width: 300px;
            height: 100%;
            text-align: center;

            h3 {
              text-transform: capitalize;
              font-size: 22px;
              margin: 0px 0px 15px;
              color: $color-accent;
            }

            p {
              color: $color-secondary;
            }
          }
        }
      }
    }
  }
}

.float-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: $color-accent;
  animation: up_down 2s ease infinite;
  transition: opacity 0.5s ease;
  z-index: 1000;
  opacity: 0;

  .fa-arrow-up {
    color: $color-primary;
  }

  &.visible {
    opacity: 1;
  }
}

.news-section {
  .container {
    @include grid(300px);
    margin-top: 50px;
    justify-items: center;

    .news-content {
      width: 300px;
      height: 400px;
      overflow: hidden;
      border-radius: 30px;

      .text-box {
        position: absolute;
        width: 100%;
        height: 200%;
        padding: 30px;
        top: -50%;
        z-index: 10;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        transition: all 500ms ease-in-out;

        .header__title {
          font-size: 24px;
          color: $color-accent;
          font-family: $font;
          font-weight: 700;
        }
      }
      .img-box {
        width: 100%;
        height: 100%;
        position: absolute;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:hover {
        .text-box {
          height: 100%;
          top: 0;
        }

        .img-box {
          filter: blur(5px);
        }
      }
    }
  }
}

.offers-section {
  background: url("") 100%;
  background-size: cover;

  .container {
    @include grid(550px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .offers-content {
      width: 550px;
      height: 350px;
      display: flex;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: $box-shadow;

      .img-box {
        width: 50%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .text-box {
      width: 50%;
      height: 100%;
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;

      .header-offers {
        display: flex;
        flex-direction: column;
        h2 {
          color: $color-secondary;
          font-size: 24px;
          font-weight: 700;
          font-family: $font;
          margin-bottom: 10px;
        }
        p {
          color: $color-accent;
          font-size: 16px;
          font-family: $font;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
        }
      }

      .footer-offers {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
          color: $color-secondary;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.coffee-bean-section {
  .container {
    @include grid(350px);
    margin-top: 50px;
    justify-items: center;
    justify-content: space-between;

    .bean-content {
      position: relative;
      width: 350px;
      height: 350px;
      overflow: hidden;
      border-radius: 20px;
      &:hover {
        img {
          transform: scale(1.05);
        }

        .bean-subtitle {
          transform: translateY(-100%);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 500ms ease-in-out;
      }

      .bean-subtitle {
        position: absolute;
        width: 350px;
        height: 350px;
        background: linear-gradient(transparent, $color-primary);
        text-align: start;
        display: flex;
        align-items: flex-end;
        color: $color-accent;
        font-family: $font;
        font-size: 22px;
        font-weight: 700;
        padding: 25px;
        transition: all 400ms ease-in-out;
      }
    }
  }
}

.coffee-machine-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
    @include grid(550px);
    justify-items: center;
    justify-content: space-between;

    .show-image,
    .list-image {
      width: 550px;
      height: 550px;
    }

    .show-image {
      border-radius: 20px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .list-image {
      padding: 20px 20px 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .machine-list-box {
        position: relative;
        display: flex;
        flex-direction: row;

        .img-box {
          position: relative;
          min-width: 200px;
          height: 150px;
          border-radius: 10px;
          overflow: hidden;
          margin: 0px 20px 0px 0px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text-box {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .type-machine {
            font-size: 12px;
            color: $color-accent;
            font-family: $font;
          }

          .title-machine {
            font-size: 18px;
            color: $color-primary;
            font-weight: 700;
          }

          p {
            font-size: 14px;
            line-height: 16px;
            color: $color-secondary;
            font-family: $font;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
          }
        }
      }
    }
  }
}

.product-section {
  .container {
    .product-container {
      margin: 50px 0px 50px 0;
      @include grid(500px);
      gap: 30px;
      justify-content: center;
      justify-items: center;

      .product-item {
        width: 500px;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        border: 2px dashed $color-secondary;
        transition: all 300ms ease-in-out;

        &:hover {
          border: 2px solid $color-primary;

          .product-info {
            .left-content {
              .product-title {
                color: $color-primary;
              }
              .product-category {
                color: $color-secondary;
              }
            }
          }
        }
        .product-image {
          min-height: 70px;
          min-width: 70px;
          width: 70px;
          height: 70px;
          margin-right: 20px;
          border-radius: 10px;
          overflow: hidden;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .product-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .left-content {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product-title {
              color: $color-secondary;
              font-weight: 700;
              font-size: 20px;
              transition: all 300ms ease-in-out;
            }

            .product-category {
              font-family: $font;
              color: $color-accent;
              font-size: 12px;
              transition: all 300ms ease-in-out;
            }
          }
          .right-content {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            .product-price {
              font-family: $font;
              color: $color-primary;
              font-size: 22px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .product-button {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}

.service-section {
  background: url("") 100%;
  background-size: cover;

  .container {
    .service-container {
      margin-top: 50px;
      @include grid(300px);
      gap: 10px;
      justify-items: center;

      .service-item {
        width: 300px;
        height: 400px;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        text-align: center;
        overflow: hidden;
        transition: all 500ms ease-in-out;

        &:hover {
          .header-service-item {
            height: 120px;
          }

          .footer-service-item {
            opacity: 1;
            height: 240px;
          }
        }

        .header-service-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 360px;
          transition: all 500ms ease-in-out;

          .service-icon {
            width: 40px;
            height: 40px;

            .fa-headset,
            .fa-truck,
            .fa-hand-holding-heart {
              font-size: 30px;
              color: $color-secondary;
            }
          }

          .service-title {
            font-size: 28px;
            line-height: 28px;
            font-weight: 700;
            font-family: $font;
            color: $color-secondary;
          }
        }

        .footer-service-item {
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          width: 100%;
          height: 0px;
          padding: 10px 0px 0px 0px;
          transition: all 500ms ease;

          p {
            color: $color-accent;
            font-size: 16px;
            line-height: 16px;
            font-family: $font;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 10;
          }
        }
      }
    }
  }
}

.reservation-section {
  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

    .reservation-image {
      width: 49%;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        position: absolute;
        width: 400px;
        height: 500px;
        border-radius: 30px;
        overflow: hidden;
      }
      .box-dashed {
        border: 3px dashed $color-primary;
        z-index: 3;
        transform: translate(70px, 50px);
      }
      .box-solid {
        background-color: $color-accent;
        z-index: 1;
        transform: translate(-100px, 30px);
      }
      .box-image {
        z-index: 2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .reservation-card {
      width: 49%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title-card {
        text-align: center;
        margin-bottom: 30px;

        .header__title {
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          color: $color-primary;
        }

        .subtitle {
          font-size: 20px;
          line-height: 18px;
          letter-spacing: 1px;
          color: $color-secondary;
          font-family: $font;
        }
      }
      .card-box {
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 30px;
        padding: 20px;
        border: 4px dashed $color-secondary;

        .input-group {
          position: relative;

          input {
            width: 100%;
            &:valid {
              outline: none;
              border: 1.5px solid $color-primary;

              ~ {
                label {
                  transform: translateY(-50%) scale(0.8);
                  background: $color-primary;
                  border-radius: 5px;
                  padding: 2px 6px;
                  color: $color-accent;
                }
              }
            }
          }
          .input {
            border: 1.5px solid $color-secondary;
            border-radius: 10px;
            background: none;
            padding: 10px;
            font-size: 18px;
            color: $color-primary;
            transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus {
              outline: none;
              border: 1.5px solid $color-primary;
              ~ {
                label {
                  transform: translateY(-50%) scale(0.8);
                  background: $color-primary;
                  border-radius: 5px;
                  padding: 2px 6px;
                  color: $color-accent;
                }
              }
            }
          }
          .user-label {
            position: absolute;
            left: 15px;
            color: $color-secondary;
            pointer-events: none;
            transform: translateY(10px);
            transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
        .select-group {
          position: relative;
          .guest-fill {
            select {
              width: 100%;
              border: solid 1.5px $color-secondary;
              border-radius: 10px;
              background: none;
              padding: 10px;
              font-size: 18px;
              color: $color-primary;

              &:focus,
              &:valid {
                outline: none;
              }
            }
          }
        }
        .date-time-group {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .row {
            width: 49%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              width: 100%;
              border: solid 1.5px $color-secondary;
              border-radius: 10px;
              background: none;
              padding: 10px;
              font-size: 18px;
              color: $color-primary;

              &:focus {
                outline: none;
                border: 1.5px solid $color-primary;
              }
            }
            input[type="date"]::-webkit-calendar-picker-indicator,
            input[type="time"]::-webkit-calendar-picker-indicator {
              cursor: pointer;
              opacity: 0.5;
            }
          }
        }
        .message-form {
          textarea {
            resize: none;
            width: 100%;
            height: 100%;
            border: solid 1.5px $color-secondary;
            border-radius: 10px;
            font-size: 18px;
            padding: 10px;
            background: none;
            color: $color-primary;

            &:focus {
              outline: none;
              border: 1px solid $color-primary;
            }

            &::placeholder {
              color: $color-secondary;
            }
          }
        }
        .btn-default {
          width: 100%;
          background: transparent;
          text-transform: uppercase;

          &:hover {
            &::before {
              left: -50px;
              top: -50px;
            }
          }
          &::before {
            width: 500px;
            height: 300px;
          }
        }
      }
    }
  }
}

.partnership-section {
  .container {
    .partner-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .partner-text-box {
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          font-size: 32px;
          color: $color-primary;
          font-weight: 700;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
          color: $color-secondary;
          margin-bottom: 20px;
          font-family: $font;
        }
      }
      .partnet-image-box {
        width: 49%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .partner-box-title {
      font-size: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      color: $color-primary;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .partner-box {
      width: 100%;
      height: 100%;
      @include grid(200px);
      justify-content: space-between;
      justify-items: center;
      padding: 20px;
      border-radius: 20px;
      border: 2px dashed $color-primary;

      .partner-img {
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.help-faq-section {
  .container {
    .help-container {
      margin: 50px 0 0;
      @include grid(200px);
      gap: 20px;
      justify-items: center;
      .help-item {
        width: 200px;
        height: 220px;
        padding: 10px;
        border: 2px dashed $color-primary;
        border-radius: 15px;

        .help-box {
          width: 100%;
          height: 100%;
          padding: 10px;
          border-radius: 10px;
          background: $color-secondary;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .icon-box {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $color-accent;

            .fa-question {
              color: $color-primary;
              font-size: 20px;
            }
          }
          .help-title {
            font-size: 16px;
            color: $color-primary;
            text-align: center;
          }
          .help-button {
            font-size: 14px;
            color: $color-primary;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover {
              color: $color-accent;
            }
          }
        }
      }
    }
    .faq-container {
      padding: 50px 0px 0px;
      width: 100%;
      @include grid(100%);
      max-height: 80vh;
      gap: 0;
      .faq-item {
        position: relative;
        width: 100%;
        border: 2px dashed $color-secondary;
        border-radius: 20px;
        padding: 20px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:target {
          .title-quest {
            h2 {
              -webkit-line-clamp: 2;
            }
            a {
              transform: rotate(180deg);
            }
          }
          .answer {
            max-height: 100px;
            margin-top: 20px;
          }
        }
        .title-quest {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          h2 {
            color: $color-primary;
            font-size: 20px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          a {
            .fa-caret-down {
              font-size: 24px;
              color: $color-primary;
              cursor: pointer;
            }
          }
        }

        .answer {
          position: relative;
          max-height: 0;
          overflow: hidden;
          color: $color-secondary;
          font-size: $color-secondary;
          font-size: 16px;
          transition: all 400ms ease-in-out;
        }
      }
    }
  }
}

.copyright {
  padding: 80px 0px 0px;
  width: 100%;
  text-align: center;
  padding: 13px 15px;
  font-size: 17px;
  color: $color-primary;
  background-color: $color-secondary;
  font-weight: bold;
}

// RESPONSIVE

@media (max-width: 1304px) {
  header {
    .mobileMenuToggle {
      position: relative;
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "\f0c9";
        font-family: "Font Awesome 6 Solid";
        font-weight: 900;
        font-size: 30px;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: $color-primary;
        animation: button_animation 500ms ease;
      }
      &.active {
        z-index: 999999;

        &::before {
          content: "\f00d";
          font-family: "Font Awesome 6 Solid";
          font-weight: 900;
          font-size: 30px;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          color: $color-primary;
          animation: button_animation_reverse 500ms ease;
        }
      }
    }
    .nav-items {
      top: 0;
      left: 0;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 300px;
      max-width: 50%;
      height: 100vh;
      transform: translateX(-150%);
      transition: all 500ms ease-in-out;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color-accent;
        opacity: 0.75;
      }
      &.active {
        transform: translateX(0px);
      }

      li {
        a {
          font-family: $font;
          font-size: 32px;
          font-weight: 700;
          color: $color-primary;

          &::after {
            background: $color-secondary;
          }
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .reservation-section {
    .container {
      flex-direction: column;
      .reservation-card {
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1020px) {
  .partnership-section {
    .container {
      .partner-container {
        flex-direction: column-reverse;

        .partner-text-box,
        .partnet-image-box {
          width: 100%;
        }
        .partner-text-box {
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 999px) {
}

@media (max-width: 995px) {
  .about-section {
    .container {
      .about-content {
        flex-direction: column;
        justify-content: center;

        .row {
          width: 100%;
        }

        .text-box {
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .section {
    padding: 20px;
  }

  header {
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-section {
    .container {
      align-items: center;
      text-align: center;
    }
  }

  .help-faq-section {
    .container {
      .faq-container {
        .faq-item {
          .answer {
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 2vw;
            }

            &::-webkit-scrollbar-thumb {
              background: $color-accent;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .reservation-section {
    .container {
      .reservation-image {
        height: 350px;
        .box {
          width: 280px;
          height: 35px;
        }

        .box-solid {
          transform: translate(-40px, 10px);
        }

        .box-dashed {
          transform: translate(30px, 25px);
        }
      }

      .reservation-card {
        height: 500px;

        .title-card {
          margin-bottom: 10px;

          .header__title {
            font-size: 28px;
            line-height: 28px;
            font-weight: 600;
          }

          .subtitle {
            font-size: 18px;
            line-height: 14px;
          }
        }
        .card-box {
          width: 320px;
          height: 400px;
          padding: 10px;
          border: 2px dashed $color-secondary;
          border-radius: 20px;

          .input-group {
            .input {
              padding: 7px;
              font-size: 14px;
            }

            .user-label {
              transform: translateY(7px);
            }
          }

          .select-group {
            .guest-fill {
              select {
                padding: 7px;
                font-size: 14px;
              }
            }
          }

          .date-time-group {
            .row {
              input {
                padding: 7px;
                font-size: 14px;
              }
            }
          }

          .message-form {
            textarea {
              padding: 7px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .home-section {
    .container {
      .title-text {
        font-size: 36px;
        line-height: 36px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .offers-section {
    .container {
      @include grid(400px);
      .offers-content {
        width: 400px;
        height: 250px;

        .text-box {
          .header-offers {
            h2 {
              font-size: 18px;
            }

            p {
              font-size: 14px;
              -webkit-line-clamp: 3;
            }
          }

          .footer-offers {
            .price {
              font-size: 16px;
            }

            .btn-default {
              padding: 5px 15px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .coffee-machine-section {
    .container {
      @include grid(400px);
      .show-image {
        width: 400px;
        height: 400px;
      }

      .list-image {
        width: 100%;
        height: 100%;

        .machine-list-box {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .text-box {
            p {
              -webkit-line-clamp: 4;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .product-section {
    .container {
      .product-container {
        @include grid(280px);

        .product-item {
          width: 280px;

          .product-info {
            flex-direction: column;

            .left-content {
              width: 100%;

              .product-title {
                font-size: 18px;
                font-weight: 500;
              }
            }
            .right-content {
              width: 100%;
              justify-content: start;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    .nav-items {
      li {
        a {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  .title-section {
    font-size: 32px;

    .subtitle {
      font-size: 16px;
    }
  }

  .about-section {
    .container {
      .about-content {
        .text-box {
          h2 {
            font-size: 32px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  .partnership-section {
    .container {
      .partner-container {
        .partner-text-box {
          h2 {
            font-size: 24px;
            font-weight: 600;
          }
        }
      }

      .partner-box {
        padding: 10px;
        gap: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .offers-section {
    .container {
      .offers-content {
        width: 250px;
        height: 400px;
        flex-direction: column;

        .img-box,
        .text-box {
          width: 100%;
        }
        .text-box {
          .header-offers {
            p {
              -webkit-line-clamp: 3;
            }
          }
        }
      }
    }
  }

  .coffee-bean-section {
    .container {
      @include grid(250px);
      .bean-content {
        width: 250px;
        height: 250px;
        .bean-subtitle {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  .coffee-machine-section {
    .container {
      @include grid(280px);
      .show-image {
        width: 280px;
        height: 280px;
      }

      .list-image {
        padding: 20px;
        align-items: center;

        .machine-list-box {
          flex-direction: column;
          width: 280px;
          height: 100%;

          .img-box {
            margin: 0px 0px 20px 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  header {
    padding: 5px;
    &.sticky {
      padding: 2px;
    }

    .header__title {
      font-size: 24px;
    }

    .mobileMenuToggle {
      &::before {
        font-size: 20px;
      }

      &.active {
        &::before {
          font-size: 20px;
        }
      }
    }
  }

  .reservation-section {
    .container {
      .reservation-image {
        .box {
          width: 240px;
          height: 300px;
        }

        .box-dashed {
          transform: translate(15px, 10px);
        }
        .box-solid {
          transform: translate(-10px, 15px);
        }
      }
    }
  }
}

// KEYFRAMES

@keyframes button_animation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes button_animation_reverse {
  0% {
    transform: rotate(0deg) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
}

@keyframes up_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
